﻿body {
    font-family: 'Arial';
    font-size: 12px;
}
#content {
    margin: 30px;
    width: 600px;
}
.clear {
    clear: both;
}
.field {
    margin-bottom: 10px;
}
.action {
    margin-bottom: 10px;
    text-align: right;
}
.action button {
    margin: 0;
}
.field label {
}
.field textarea {
    display: inline-block;
    width: 500px;
    height: 200px;
    float: right;
}