﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="field">
    <label>Input:</label>
    <textarea id="input">1#-SUM: 10, 5, 13
2#-AVERAGE: 3, 9, 3, 13
3#-MIN: 12, 3, 32, 22, 89, 101
4#-MAX: 12, 3, 32, 22, 89, 101
</textarea>
    <div class="clear"></div>
</div>
<div class="action">
    <button id="evaluate">Evaluate</button>
</div>
<div class="field">
    <label>Result:</label>
    <textarea id="result"></textarea>
    <div class="clear"></div>
</div>
