﻿@using System.Web.Optimization
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        @Styles.Render("~/bundles/css")
    </head>
    <body>
        <div id="content">
            @RenderBody()
        </div>
        @Scripts.Render("~/bundles/libs")
        @Scripts.Render("~/bundles/custom")
    </body>
</html>
